@model Upgrading.Models.TimeTable

@{
    ViewData["Title"] = "CreateTimetable";
}

<h1>CreateTimetable</h1>

<h4>TimeTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTimetable" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <select asp-for="@Model.Type" class="form-select">

                    <option value="Weekdays">Weekdays</option>
                    <option value="Weekend">Weekend</option>
                    <option disabled selected>--Select Title--</option>

                </select>
                <label asp-for="Type" class="ms-2"></label>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="@Model.TimetableUrl" hidden class="form-control border shadow" />
                <input asp-for="@Model.Timetable" class="form-control border shadow" />
                <label asp-for="TimetableUrl" class="ms-2"></label>
                <span asp-validation-for="TimetableUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
